body{
    font-family: 'Pacifico', 'sans-serif';
}    
    
    
.blue {
    color:blue;
}
.red{
    color:red;
}

.Container{
    padding:5px;
    background:blue;
    margin:5px;
    color:white;
}

#greencontainer{
    background:green;
    margin:5px;
    color:white;
}